<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>拜语言调用javascript第三方库，charjs 版权说明：本源代码为开源 MIT ，但仅限于拜语言部分，不包括 charts.js 部分; charts.js部分则遵守原作者的版权声明</Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Base Name="by" />
        <External FileName="chart.js" Language="JavaScript">
            <Class Name="chartjs" TargetFullName="byExternalChartjs_byChartjs" />
        </External>
    </References>
</Ku>